<div class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <admin-header></admin-header>
        <admin-sidebar [models]="models" [components]="components"></admin-sidebar>

        <div class="content-wrapper">
            <section class="content-header"></section>
            <section class="content">

                <admin-box [header]="'header'">
                    <admin-crud></admin-crud>
                    <app-home></app-home>
                </admin-box>
            </section>
        </div>

        <admin-footer></admin-footer>
    </div>
</div>