<app-header></app-header>

<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-8">
            <div class="box-stripe">
                <div class="box-stripe-heading">{{ contentTitle }}</div>
                <ng-content></ng-content>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-stripe">
                <div class="box-stripe-heading">Aktuality</div>
                aktuality ddd
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>