<form novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <ng-container *ngFor="let prop of objectProps">
        <div class="form-group" *ngIf="!prop.hidden && prop.key != 'id' else hidden">
            <label [attr.for]="prop.key">{{ prop.key }}</label>

            <div [ngSwitch]="prop.type">
                <input *ngSwitchCase="'text'" class="form-control" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type">

                <textarea *ngSwitchCase="'textarea'" [rows]="prop.rows || 5" class="form-control" [formControlName]="prop.key" [id]="prop.key"></textarea>

                <div *ngSwitchCase="'select'">
                    <select [formControlName]="prop.key" class="form-control">
                        <option *ngFor="let option of prop.options" [value]="option.value">
                            {{option.label}}     
                        </option>
                    </select>
                </div>

                <div *ngSwitchCase="'radio'">
                    <label *ngFor="let option of prop.options">
                  <input
                    type="radio"
                    [name]="prop.key"
                    [formControlName]="prop.key"
                    [value]="option.value"> 
                </label>
                </div>
            </div>
        </div>

        <ng-template #hidden>
            <input [formControlName]="prop.key" [id]="prop.key" [type]="'hidden'">
        </ng-template>

    </ng-container>
    <textarea #editor id="editor" name="content">bbb</textarea>

    <p>
        <button type="submit" class="btn btn-primary">Save</button>
    </p>
</form>