<form novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <ng-container *ngFor="let prop of dataObject">
        <div class="form-group" *ngIf="!prop.hidden && prop.name != 'id' else hidden">
            <label [attr.for]="prop.name">{{ prop.label }}</label>

            <div [ngSwitch]="prop.type">
                <input *ngSwitchCase="'text'" class="form-control" [formControlName]="prop.name" [id]="prop.name" [type]="prop.type">

                <textarea *ngSwitchCase="'textarea'" [rows]="prop.rows || 5" class="form-control" [formControlName]="prop.name" [id]="prop.name"></textarea>

                <textarea *ngSwitchCase="'editor'" [rows]="prop.rows || 5" class="form-control editor" [formControlName]="prop.name" [id]="prop.name"></textarea>

                <div *ngSwitchCase="'select'">

                    <select [formControlName]="prop.name" class="form-control" multiple>
                        <option *ngFor="let option of prop.options" [value]="option.value">
                            {{option.label}}     
                        </option>
                    </select>
                </div>

                <div *ngSwitchCase="'radio'">
                    <label *ngFor="let option of prop.options">
                  <input
                    type="radio"
                    [name]="prop.name"
                    [formControlName]="prop.name"
                    [value]="option.value"> 
                </label>
                </div>
            </div>
        </div>

        <ng-template #hidden>
            <input [formControlName]="prop.name" [id]="prop.name" [type]="'hidden'">
        </ng-template>

    </ng-container>

    <p>
        <button type="submit" class="btn btn-primary">Save</button>
    </p>
</form>