<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">Components</li>
            <li>
                <a routerLink="/manager" routerLinkActive="active">Media manager</a>
            </li>
            <li class="header">Models</li>
            <li *ngFor="let model of modelNames">
                <a [routerLink]="['/crud', model]">
                {{ model }}
              </a>
            </li>
        </ul>
    </section>
</aside>