.box-stripe {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 30px;
    padding-top: 15px;
    margin-bottom: 30px;
}

.box-stripe-heading {
    color: #fff;
    background-color: #222;
    border-color: #4cae4c;
    font-weight: bold;
    font-size: 1.2em;
    height: 40px;
    margin: 0 -30px 20px -30px;
    padding: 10px 15px 35px 10px;
}

.admin-blue {
    background-color: #3c8dbc;
}


/*.mce-notification-inner {
    display: none!important;
}*/